/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background-color: #e1e1e1; /* You can use a color name, hex code, or RGB value */
}

.page-title {
  color: #1f2524;
}

#home-container {
  margin-top: 25px;
}

/*
  ========================================
  Navigation Bar
  ========================================
*/
.navbar {
  background-color: #a21616 !important; /* red */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

#logo {
  color: white;
  font-size: xx-large;
  letter-spacing: -2.5px;
}

.navbar-nav {
  margin-left: auto !important;
}

#btn-custom {
  color: #e1e1e1;
  background-color: #730404;
}

/*
  ========================================
  Home Page
  ========================================
*/

.jumbotron {
  background-image: url("home-page-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

html, body {
  height: 100%;
}

main {
  flex: 1 0 auto;
}

/*
  ========================================
  All Articles Page
  ========================================
*/
#article-title {
  color: #a21616;
  text-decoration: none;
}

/* Show underline on hover and keyboard focus */
#article-title:hover,
#article-title:focus-visible {
  text-decoration: underline;
}

/*Pagination styling*/
.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default;
}

.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
  color: #aaaaaa;
}

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  display: inline-block;
  background-color: #bebebe;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
  text-decoration: none;
  color: black;
}

.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}





