/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background-color: #e1e1e1; /* You can use a color name, hex code, or RGB value */
}
.page-title {
  color: #1f2524;
}

#home-container {
  margin-top: 25px;
}

/*
  ========================================
  Navigation Bar
  ========================================
*/
.navbar {
  background-color: #a21616 !important; /* red */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
}
#logo {
  color: white;
  font-size: xx-large;
  letter-spacing: -2.5px;
}

.navbar-nav {
  margin-left: auto !important;
}
#btn-custom {
  color: #e1e1e1;
  background-color: #730404;
}

/*
  ========================================
  Home Page
  ========================================
*/

.jumbotron {
  background-image: url("home-page-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

html, body {
  height: 100%;
}

main {
  flex: 1 0 auto;
}

/*
  ========================================
  All Articles Page
  ========================================
*/
#article-title {
  color: #a21616;
  text-decoration: none;
}

/* Show underline on hover and keyboard focus */
#article-title:hover,
#article-title:focus-visible {
  text-decoration: underline;
}



